


<!-- {{_postService.selctedPost() | json}} -->

@if(selectedPost){
    <mat-card class="p-2"> 
      <mat-card-header> 
          <mat-card-title>
            <button mat-icon-button routerLink="/posts">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <h1>
                {{selectedPost.title}}
            </h1>
        </mat-card-title>
      </mat-card-header>
       

        <mat-card-content>.
            <p>
                {{selectedPost.content}}
            </p>
        </mat-card-content>

        <mat-card-actions>
            <button class="mr-2" mat-raised-button color="primary">
              Edit
            </button>
            <button mat-raised-button>
                Remove
            </button>
        </mat-card-actions>
    </mat-card>
}